//mike
//.less card code

.container {
    .cards {
        width: 100%;
        height: 100%;
        display:flex;
    .resume{
        .custom-direction(column,center);
        margin: 0 5%;
        img{
            width:80%;
            height:40%;
        button {
            width: 50%;
            }
        }
    }

    .track-info{
        .custom-direction(column,center);
        margin: 0 5%;
        img{
            width:100%;
            height:40%;
        button {
            width: 100%;
            }
        }
    }

    .recruiter-contact{
        .custom-direction(column,center);
        margin: 0 5%;
        img{
            width:70%;
            height:40%;
        button {
            width: 100%;      
            }
            p{
                font-size: 1.5rem;
            }
        }       
    }//recruiter-contact
 }//cards

}//container