//mike
//.less card code
.container {

    header{
        img{
            width:100%;
            height: 30rem;
        }
    }
    .search-bars {
        .custom-flex(flex-start,flex-start);
        padding: 2%;
        @media @mobile {
        .custom-direction(column,center);
        }
        label {
            padding: 1% 1%;
            font-size: 2rem;
        }
        input {
            padding: 1% 1%;

        }
        button {
            .navbutton(18%, @nav-background, @nav-font-color);
            padding: .5% 2%;
            margin: 0 2%;

            @media @mobile{
                padding:0;
                margin: 2% 0;
            }
        }
    }
    .cards {
        width: 100%;
        height: 100%;
        display:flex;
        padding: 2% 3% 10% 3%;
        
        @media @mobile {
            display:inline-block;
        }
    .resume{
        .custom-direction(column,center);
        justify-content: center;
        margin: 0 2%;
        background-color: @bg-color-cards;
        padding: 0 4%;
        img{
            width:80%;
            height:40%;
        }
        p {
            width:90%;
            padding: 10% 0;
            @media @mobile {
                padding-left:30%;
            }
        }
        button {
            .navbutton(79%, @nav-background, @nav-font-color);
            }
    }

    .track-info{
        .custom-direction(column,center);
        justify-content: center;
        margin: 0 2%;
        background-color: @bg-color-cards;
        padding: 0 5%;

        @media @mobile{
            margin: 8% 0;
        }

        img{
            width:100%;
            height:40%;
            
        @media @mobile {
           width: 80%;
           height: 22rem; 
        }
        }
        p {
            padding: 10% 20%;
            width:100%;
            @media @mobile {
                padding-left:30%;
            }
        }
        button {
            .navbutton(100%, @nav-background, @nav-font-color);

            @media @mobile {
                .navbutton(80%, @nav-background, @nav-font-color); 
            }
            }
    }

    .recruiter-contact{
        .custom-direction(column,center);
        justify-content: center;
        margin: 0 2%;
        background-color: @bg-color-cards;

        @media @mobile{
            margin: 8% 0;
        }
        img{
            width:70%;
            height:40%;
        }
        p {
            padding: 10% 0;
        }
        button {
            .navbutton(70%, @nav-background, @nav-font-color);     
            }
            p{

            }
               
    }//recruiter-contact
 }//cards

}//container