// some nav variables for colors and things we may want to switch around
@nav-background:#44CF6C;
@nav-title-font:('Montserrat');
@nav-font-color:#6C464E;
@nav-button-font:('Odibee Sans');
@bg-color-cards: #afacac; 

//mobile escape
@mobile:(max-width: 500px);